doctype html
html
  head
    title Registo de Exames Médicos Desportivos
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/jquery.modal.min.js')
    script(src='/javascripts/emd.js')
  body
    block content
