extends layout

block content
  h3 Registo de exames médicos desportivos: Login
  form(action="/users" method="POST")
    input(type="text" name="email")
    input(type="password" name="password")
    input(type="submit" value="Enviar")
    
